NET clk LOC = "B8";
NET clr LOC = "E2";
NET reset LOC = "N3";
NET lfsr_out[0] LOC = "P6";
NET lfsr_out[1] LOC = "P7";
NET lfsr_out[2] LOC = "M11";
NET lfsr_out[3] LOC = "M5";
NET button[3] LOC = "G12" ;
NET button[2] LOC = "C11" ;
NET button[1] LOC = "M4" ;
NET button[0] LOC = "A7" ;
NET ssb_en[3] LOC = "K14" ;
NET ssb_en[2] LOC = "M13" ;
NET ssb_en[1] LOC = "J12" ;
NET ssb_en[0] LOC = "F12" ;
NET ssb_out[6] LOC = "L14" ;
NET ssb_out[5] LOC = "H12" ;
NET ssb_out[4] LOC = "N14" ;
NET ssb_out[3] LOC = "N11" ;
NET ssb_out[2] LOC = "P12" ;
NET ssb_out[1] LOC = "L13" ;
NET ssb_out[0] LOC = "M12" ;
NET button[2] CLOCK_DEDICATED_ROUTE = FALSE;
NET button[3] CLOCK_DEDICATED_ROUTE = FALSE;  